@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  @apply flex justify-center w-full
}

input {
  @apply min-w-[250px] border-none rounded-md p-2 outline-none
}

.ais-SearchBox-submit {
  @apply hidden;
}

.ais-SearchBox-reset {
  @apply hidden;
}

.mapboxgl-popup-content {
  @apply shadow-md;
}

.mapboxgl-popup-close-button {
  @apply pt-[2px] pr-2 outline-none text-xl hover:bg-none;
}